<ul>
  <li>
    <a [routerLink]="['/obs1']" routerLinkActive="router-link-active">
      Counts every click within console
    </a>
  </li>

  <li>
    <a [routerLink]="['/obs2']" routerLinkActive="router-link-active">
      Simple Observer
    </a>
  </li>

  <li>
    <a [routerLink]="['/obs3']" routerLinkActive="router-link-active">
      Obs 3
    </a>
  </li>

  <li>
    <a [routerLink]="['/obs6']" routerLinkActive="router-link-active">
      Obs 6
    </a>
  </li>

  <li>
    <a [routerLink]="['/obs7']" routerLinkActive="router-link-active">
      Simplest Subject wo geht
    </a>
  </li>

  <li>
    <a [routerLink]="['/ws1']" routerLinkActive="router-link-active">
      Websockets mit Subject
    </a>
  </li>

  <li>
    <a [routerLink]="['/ws2']" routerLinkActive="router-link-active">
      Websockets
    </a>
  </li>
  <li>
    <a [routerLink]="['/chat']" routerLinkActive="router-link-active">
      Chat
    </a>
  </li>
</ul>
